# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 1
–ê–Ω–∞–ª–∏–∑ –¥–∞—Ç–∞—Å–µ—Ç–∞ —Å –ø–æ–º–æ—â—å—é Pandas
üåü –°–∫–∞—á–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Ñ–∞–π–ª kc_house_data.csv (–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π
–º–∞—Ç–µ—Ä–∏–∞–ª)
üåü –°—á–∏—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ø–æ–º–æ—â—å—é pandas
üåü –í—ã–≤–µ—Å—Ç–∏ –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫
üåü –ü–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏ –Ω–∞ –∏—Ö —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ

In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)
pd.set_option('display.precision', 6)
pd.set_option('display.float_format', '{:,.2f}'.format)

### –°—á–∏—Ç–∞—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ø–æ–º–æ—â—å—é pandas

In [2]:
hd = pd.read_csv('./kc_house_data.csv')

### –í—ã–≤–µ—Å—Ç–∏ –Ω–∞ —ç–∫—Ä–∞–Ω –ø–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫

In [3]:
hd.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,"221,900.00",3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,"538,000.00",3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,"180,000.00",2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,"604,000.00",4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,"510,000.00",3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503

### –ü–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –æ–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏ –Ω–∞ –∏—Ö —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ
–°—É–¥—è –ø–æ –æ–ø–∏—Å–∞–Ω–∏—é –¥–∞–Ω–Ω—ã–π —Ñ–∞–π–ª —è–≤–ª—è–µ—Ç—Å—è –¥–∞—Ç–∞—Å–µ—Ç–æ–º –ø–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –≤ –≥–æ—Ä–æ–¥–µ –°–∏—ç—Ç–ª, —à—Ç–∞—Ç –í–∞—à–∏–Ω–≥—Ç–æ–Ω, –°–®–ê.

## –î–æ–±–∞–≤–∏–º –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã
–ò–∑–º–µ–Ω–∏–º —Å—Ç–æ–ª–±–µ—Ü date —Å —Ç–∏–ø–æ–º object (—Å—Ç—Ä–æ–∫–∞) –Ω–∞ —Å—Ç–æ–ª–±–µ—Ü sale_date —Å —Ç–∏–ø–æ–º datetime64

In [4]:
hd['sale_date'] = hd['date'].astype("datetime64[ns]")
hd = hd.drop('date', axis=1)

–ò–∑–º–µ–Ω–∏–º —Å—Ç–æ–ª–±–µ—Ü waterfront —Å —Ç–∏–ø–æ–º –¥–∞–Ω–Ω—ã—Ö int64 –Ω–∞ —Å—Ç–æ–ª–±–µ—Ü —Å –±—É–ª–µ–≤—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏

In [5]:
hd['is_waterfront'] = hd['waterfront'].astype(bool)
hd = hd.drop('waterfront', axis=1)
hd.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_date,is_waterfront
0,7129300520,"221,900.00",3,1.00,1180,5650,1.00,0,3,7,...,0,1955,0,98178,47.51,-122.26,1340,5650,2014-10-13,False
1,6414100192,"538,000.00",3,2.25,2570,7242,2.00,0,3,7,...,400,1951,1991,98125,47.72,-122.32,1690,7639,2014-12-09,False
2,5631500400,"180,000.00",2,1.00,770,10000,1.00,0,3,6,...,0,1933,0,98028,47.74,-122.23,2720,8062,2015-02-25,False
3,2487200875,"604,000.00",4,3.00,1960,5000,1.00,0,5,7,...,910,1965,0,98136,47.52,-122.39,1360,5000,2014-12-09,False
4,1954400510,"510,000.00",3,2.00,1680,8080,1.00,0,3,8,...,0,1987,0,98074,47.62,-122.05,1800,7503,2015-02-18,False

# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 2
## –ü—Ä–æ–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤–∏—á–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö


1. –ò–∑—É—á–∏—Ç–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö

In [6]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   view           21613 non-null  int64
 8   condition      21613 non-null  int64
 9   grade          21613 non-null  int64
 10  sqft_above     21613 non-null  int64
 11  sqft_basement  21613 non-null  int64
 12  yr_built       21613 non-null  int64
 13  yr_renovated   21613 non-null  int64
 14  zipcode        21613 non-null  int64
 15  lat            21613 non-null  float64
 16  long           21613 non-null  float64
 17  sqft_living15  21613 non-null  int64
 18  sqft_lot15     21613 non-null  int64
 19  sale_date      21613 non-null  datetime64[ns]
 20  is_waterfront  21613 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(5), int64(14)
memory usage: 3.3 MB

2. –ù–∞–π–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö —è—á–µ–µ–∫ –≤ –¥–∞–Ω–Ω—ã—Ö

In [7]:
hd.isna().sum()

id               0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
sale_date        0
is_waterfront    0
dtype: int64

In [8]:
hd.isnull().sum()

id               0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
sale_date        0
is_waterfront    0
dtype: int64

–ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö —è—á–µ–µ–∫ –Ω–µ—Ç.

3. –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –æ—Å–Ω–æ–≤–Ω—ã–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –ø–æ –≤—Å–µ–º –ø—Ä–∏–∑–Ω–∞–∫–∞–º –∏ –ø–æ–∏–∑—É—á–∞–π—Ç–µ –∏—Ö

In [9]:

hd.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_date
count,"21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00",21613
mean,"4,580,301,520.86","540,088.14",3.37,2.11,"2,079.90","15,106.97",1.49,0.23,3.41,7.66,"1,788.39",291.51,"1,971.01",84.40,"98,077.94",47.56,-122.21,"1,986.55","12,768.46",2014-10-29 04:38:01.959931648
min,"1,000,102.00","75,000.00",0.00,0.00,290.00,520.00,1.00,0.00,1.00,1.00,290.00,0.00,"1,900.00",0.00,"98,001.00",47.16,-122.52,399.00,651.00,2014-05-02 00:00:00
25%,"2,123,049,194.00","321,950.00",3.00,1.75,"1,427.00","5,040.00",1.00,0.00,3.00,7.00,"1,190.00",0.00,"1,951.00",0.00,"98,033.00",47.47,-122.33,"1,490.00","5,100.00",2014-07-22 00:00:00
50%,"3,904,930,410.00","450,000.00",3.00,2.25,"1,910.00","7,618.00",1.50,0.00,3.00,7.00,"1,560.00",0.00,"1,975.00",0.00,"98,065.00",47.57,-122.23,"1,840.00","7,620.00",2014-10-16 00:00:00
75%,"7,308,900,445.00","645,000.00",4.00,2.50,"2,550.00","10,688.00",2.00,0.00,4.00,8.00,"2,210.00",560.00,"1,997.00",0.00,"98,118.00",47.68,-122.12,"2,360.00","10,083.00",2015-02-17 00:00:00
max,"9,900,000,190.00","7,700,000.00",33.00,8.00,"13,540.00","1,651,359.00",3.50,4.00,5.00,13.00,"9,410.00","4,820.00","2,015.00","2,015.00","98,199.00",47.78,-121.31,"6,210.00","871,200.00",2015-05-27 00:00:00
std,"2,876,565,571.31","367,127.20",0.93,0.77,918.44,"41,420.51",0.54,0.77,0.65,1.18,828.09,442.58,29.37,401.68,53.51,0.14,0.14,685.39,"27,304.18",NaN

4. –ü–∏—à–∏—Ç–µ –≤—ã–≤–æ–¥—ã

–î–∞–Ω–Ω—ã–π —Ñ–∞–π–ª —è–≤–ª—è–µ—Ç—Å—è –¥–∞—Ç–∞—Å–µ—Ç–æ–º –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –Ω–∞ 61 –∞–≤–µ–Ω—é, –≥–æ—Ä–æ–¥–∞ –°–∏—ç—Ç–ª, —à—Ç–∞—Ç –í–∞—à–∏–Ω–≥—Ç–æ–Ω, –°–®–ê.
–°–æ–¥–µ—Ä–∂–∏—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Ü–µ–Ω–∞—Ö, –ø–ª–æ—â–∞–¥–∏, –∫–∞—á–µ—Å—Ç–≤–µ, –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ –∫–æ–º–Ω–∞—Ç –∏ –æ–± –æ–∫—Ä—É–∂–µ–Ω–∏–∏ 21613 –æ–±—ä–µ–∫—Ç–∞—Ö –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏.

# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 3
## –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–æ–ø—Ä–æ—Å–æ–≤

3.1 –í –∫–∞–∫–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ –∏–∑–º–µ–Ω—è—é—Ç—Å—è —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏?

In [10]:
min_price = hd['price'].min()
max_price = hd['price'].max()
f'–°—Ç–æ–∏–º–æ—Å—Ç—å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –∏–∑–º–µ–Ω—è–µ—Ç—Å—è –≤ –¥–∏–∞–ø–∞–∑–æ–Ω–µ –æ—Ç {min_price:,.2f} –¥–æ {max_price:,.2f}'

'–°—Ç–æ–∏–º–æ—Å—Ç—å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ –∏–∑–º–µ–Ω—è–µ—Ç—Å—è –≤ –¥–∏–∞–ø–∞–∑–æ–Ω–µ –æ—Ç 75,000.00 –¥–æ 7,700,000.00'

3.2 –ö–∞–∫—É—é –¥–æ–ª—é –≤ —Å—Ä–µ–¥–Ω–µ–º –∑–∞–Ω–∏–º–∞—é—Ç –∂–∏–ª–∞—è –ø–ª–æ—â–∞–¥—å –æ—Ç –≤—Å–µ–π –ø–ª–æ—â–∞–¥–∏ –ø–æ –≤—Å–µ–º –¥–æ–º–∞–º?

In [11]:
total_living_sqft = hd['sqft_living'].sum()
total_lot_sqft = hd['sqft_lot'].sum()
total_objects = hd['id'].count()
print(
    f"–î–æ–ª—è –∑–∞–Ω–∏–º–∞–µ–º–∞—è –∂–∏–ª–æ–π –ø–ª–æ—â–∞–¥—å—é ({hd['sqft_living'].sum():.0f}) –æ—Ç –æ–±—â–µ–π –ø–ª–æ—â–∞–¥–∏ –¥–æ–º–∞ ({hd['sqft_lot'].sum():.0f}) –≤ —Å—Ä–µ–¥–Ω–µ–º —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç {hd['sqft_living'].mean() / hd['sqft_lot'].mean() * 100:.2f}%")

–î–æ–ª—è –∑–∞–Ω–∏–º–∞–µ–º–∞—è –∂–∏–ª–æ–π –ø–ª–æ—â–∞–¥—å—é (44952873) –æ—Ç –æ–±—â–µ–π –ø–ª–æ—â–∞–¥–∏ –¥–æ–º–∞ (326506890) –≤ —Å—Ä–µ–¥–Ω–µ–º —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 13.77%

3.3 –ö–∞–∫ –º–Ω–æ–≥–æ –¥–æ–º–æ–≤ —Å —Ä–∞–∑–Ω—ã–º–∏ —ç—Ç–∞–∂–∞–º–∏ –≤ –¥–∞–Ω–Ω—ã—Ö?

In [12]:
print("–î–æ–º–æ–≤ —Å —Ä–∞–∑–Ω—ã–º–∏ —ç—Ç–∞–∂–∞–º–∏:\n")
hd['floors'].value_counts()

–î–æ–º–æ–≤ —Å —Ä–∞–∑–Ω—ã–º–∏ —ç—Ç–∞–∂–∞–º–∏:

floors
1.00    10680
2.00     8241
1.50     1910
3.00      613
2.50      161
3.50        8
Name: count, dtype: int64

3.4 –ù–∞—Å–∫–æ–ª—å–∫–æ —Ö–æ—Ä–æ—à–∏–µ —Å–æ—Å—Ç–æ—è–Ω–∏—è —É –¥–æ–º–æ–≤ –≤ –¥–∞–Ω–Ω—ã—Ö?

In [13]:
hd['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

3.5 –ù–∞–π–¥–∏—Ç–µ –≥–æ–¥–∞, –∫–æ–≥–¥–∞ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –ø–µ—Ä–≤—ã–π –¥–æ–º, –∫–æ–≥–¥–∞ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –ø–æ—Å–ª–µ–¥–Ω–∏–π –¥–æ–º –≤ –¥–∞–Ω–Ω—ã—Ö?

In [14]:
print(f"–ü–µ—Ä–≤—ã–π –¥–æ–º –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ {hd['yr_built'].min()} –≥–æ–¥—É, –ø–æ—Å–ª–µ–¥–Ω–∏–π –¥–æ–º –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ {hd['yr_built'].max()} –≥–æ–¥—É")
print(
    f"–ü–µ—Ä–≤—ã–π –¥–æ–º –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ {hd.iloc[0]['yr_built']} –≥–æ–¥—É, –ø–æ—Å–ª–µ–¥–Ω–∏–π –¥–æ–º –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ {hd.iloc[-1]['yr_built']} –≥–æ–¥—É")

–ü–µ—Ä–≤—ã–π –¥–æ–º –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ 1900 –≥–æ–¥—É, –ø–æ—Å–ª–µ–¥–Ω–∏–π –¥–æ–º –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ 2015 –≥–æ–¥—É
–ü–µ—Ä–≤—ã–π –¥–æ–º –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ 1955 –≥–æ–¥—É, –ø–æ—Å–ª–µ–¥–Ω–∏–π –¥–æ–º –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ –ø–æ—Å—Ç—Ä–æ–∏–ª–∏ –≤ 2008 –≥–æ–¥—É

# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 4
## –û—Ç–≤–µ—Ç—å—Ç–µ –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –≤–æ–ø—Ä–æ—Å–æ–≤

4.1 –°–∫–æ–ª—å–∫–æ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ—è—Ç –¥–æ–º–∞, —É –∫–æ—Ç–æ—Ä—ã—Ö 2 —Å–ø–∞–ª—å–Ω–∏?

In [15]:
print(f"–î–æ–º–∞ —É –∫–æ—Ç–æ—Ä—ã—Ö 2 —Å–ø–∞–ª—å–Ω–∏ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ—è—Ç {hd[hd['bedrooms'] == 2]['price'].mean():,.2f}")
two_bedrooms_house = hd[hd['bedrooms'] == 2]
total_price_2br_house = two_bedrooms_house['price'].sum()
print(
    f"–ü—Ä–æ–≤–µ—Ä–∫–∞: –≤—Å–µ–≥–æ –¥–æ–º–æ–≤ —Å –¥–≤—É–º—è —Å–ø–∞–ª—å–Ω—è–º–∏ {two_bedrooms_house['id'].count()} —à—Ç. –û–±—â–∞—è —Å—Ç–æ–∏–º–æ—Å—Ç—å —ç—Ç–∏—Ö –¥–æ–º–æ–≤ {total_price_2br_house:,.2f}. –°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å —Ä–∞–≤–Ω–∞ {total_price_2br_house / two_bedrooms_house['id'].count():,.2f}")

–î–æ–º–∞ —É –∫–æ—Ç–æ—Ä—ã—Ö 2 —Å–ø–∞–ª—å–Ω–∏ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ—è—Ç 401,372.68
–ü—Ä–æ–≤–µ—Ä–∫–∞: –≤—Å–µ–≥–æ –¥–æ–º–æ–≤ —Å –¥–≤—É–º—è —Å–ø–∞–ª—å–Ω—è–º–∏ 2760 —à—Ç. –û–±—â–∞—è —Å—Ç–æ–∏–º–æ—Å—Ç—å —ç—Ç–∏—Ö –¥–æ–º–æ–≤ 1,107,788,602.00. –°—Ä–µ–¥–Ω—è—è —Å—Ç–æ–∏–º–æ—Å—Ç—å —Ä–∞–≤–Ω–∞ 401,372.68

4.2 –ö–∞–∫–∞—è –≤ —Å—Ä–µ–¥–Ω–µ–º –æ–±—â–∞—è –ø–ª–æ—â–∞–¥—å –¥–æ–º–æ–≤, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ç–æ–∏–º–æ—Å—Ç—å –±–æ–ª—å—à–µ 600 000?

In [16]:
f"–û–±—â–∞—è –ø–ª–æ—â–∞–¥—å –¥–æ–º–æ–≤ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª—å—à–µ 600 000 –≤ —Å—Ä–µ–¥–Ω–µ–º —Ä–∞–≤–Ω–∞ {hd[hd['price'] > 600_000]['sqft_lot'].mean():,.2f}"

'–û–±—â–∞—è –ø–ª–æ—â–∞–¥—å –¥–æ–º–æ–≤ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª—å—à–µ 600 000 –≤ —Å—Ä–µ–¥–Ω–µ–º —Ä–∞–≤–Ω–∞ 20,442.52'

4.3 –ö–∞–∫ –º–Ω–æ–≥–æ –¥–æ–º–æ–≤ –∫–æ—Å–Ω—É–ª—Å—è —Ä–µ–º–æ–Ω—Ç?

In [17]:
f"{hd[hd['yr_renovated'] != 0]['id'].count()} –¥–æ–º–æ–≤ –±—ã–ª–∏ –æ—Ç—Ä–µ–º–æ–Ω—Ç–∏—Ä–æ–≤–∞–Ω—ã"

'914 –¥–æ–º–æ–≤ –±—ã–ª–∏ –æ—Ç—Ä–µ–º–æ–Ω—Ç–∏—Ä–æ–≤–∞–Ω—ã'

4.4 –ù–∞—Å–∫–æ–ª—å–∫–æ –≤ —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –¥–æ–º–æ–≤ –≤—ã—à–µ 10 –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –º–µ–Ω—å—à–µ 4?

In [18]:
mean_price_grade_gr_10 = hd[hd['grade'] > 10]['price'].mean()
mean_price_grade_lt_4 = hd[hd['grade'] < 4]['price'].mean()
diff_price = mean_price_grade_gr_10 - mean_price_grade_lt_4
f"–í —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –≤—ã—à–µ 10 –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –º–µ–Ω—å—à–µ 4 –Ω–∞ {diff_price:,.2f}"

'–í —Å—Ä–µ–¥–Ω–µ–º —Å—Ç–æ–∏–º–æ—Å—Ç—å –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –≤—ã—à–µ 10 –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç —Å—Ç–æ–∏–º–æ—Å—Ç–∏ –¥–æ–º–æ–≤ —Å –æ—Ü–µ–Ω–∫–æ–π grade –º–µ–Ω—å—à–µ 4 –Ω–∞ 1,488,885.12'

# –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ 5
## 5.1 –í—ã–±–µ—Ä–∏—Ç–µ –¥–æ–º –∫–ª–∏–µ–Ω—Ç—É
–ö–ª–∏–µ–Ω—Ç —Ö–æ—á–µ—Ç –¥–æ–º —Å –≤–∏–¥–æ–º –Ω–∞ –Ω–∞–±–µ—Ä–µ–∂–Ω—É—é, –∫–∞–∫ –º–∏–Ω–∏–º—É–º —Å —Ç—Ä–µ–º—è
–≤–∞–Ω–Ω—ã–º–∏ –∏ —Å –ø–æ–¥–≤–∞–ª–æ–º. –°–∫–æ–ª—å–∫–æ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ –µ—Å—Ç—å —É –∫–ª–∏–µ–Ω—Ç–∞?

In [19]:
print(
    f"–ü–æ –¥–∞–Ω–Ω–æ–º—É –∑–∞–ø—Ä–æ—Å—É –µ—Å—Ç—å {hd[(hd['is_waterfront']) & (hd['bathrooms'] >= 3) & (hd['sqft_basement'] > 0)]['id'].count()} –≤–∞—Ä–∏–∞–Ω—Ç(a,–æ–≤)")

hd[(hd['is_waterfront']) & (hd['bathrooms'] >= 3) & (hd['sqft_basement'] > 0)]

–ü–æ –¥–∞–Ω–Ω–æ–º—É –∑–∞–ø—Ä–æ—Å—É –µ—Å—Ç—å 41 –≤–∞—Ä–∏–∞–Ω—Ç(a,–æ–≤)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sale_date,is_waterfront
300,3225069065,"3,075,000.00",4,5.00,4550,18641,1.00,4,3,10,...,1950,2002,0,98074,47.61,-122.08,4550,19508,2014-06-24,True
457,2122039094,"705,000.00",3,3.00,1970,20978,2.00,3,4,9,...,200,1980,0,98070,47.38,-122.44,2280,75396,2014-11-26,True
1164,1247600105,"5,110,800.00",5,5.25,8010,45517,2.00,4,3,12,...,2020,1999,0,98033,47.68,-122.21,3430,26788,2014-10-20,True
1261,7636800041,"995,000.00",3,4.50,4380,47044,2.00,3,3,9,...,660,1968,1990,98166,47.47,-122.36,2460,18512,2014-06-25,True
1315,7558700030,"5,300,000.00",6,6.00,7390,24829,2.00,4,4,12,...,2390,1991,0,98040,47.56,-122.21,4320,24619,2015-04-13,True
1361,1925069082,"2,200,000.00",5,4.25,4640,22703,2.00,4,5,8,...,1780,1952,0,98052,47.64,-122.10,3140,14200,2015-05-11,True
2626,7738500731,"4,500,000.00",5,5.50,6640,40014,2.00,4,3,12,...,290,2004,0,98155,47.75,-122.28,3030,23408,2014-08-15,True
2864,4114601570,"3,600,000.00",3,3.25,5020,12431,2.00,4,3,10,...,1600,1941,2002,98144,47.59,-122.29,3680,12620,2014-11-18,True
3914,9808700762,"7,062,500.00",5,4.50,10040,37325,2.00,2,3,11,...,2360,1940,2001,98004,47.65,-122.21,3930,25449,2014-06-11,True
3934,1269200229,"1,379,900.00",3,3.25,3786,38038,1.00,4,3,9,...,1852,1978,2006,98070,47.39,-122.45,2850,33361,2014-07-23,True
5760,623059016,"1,100,000.00",4,3.25,3190,11774,2.00,4,3,8,...,580,1956,1991,98178,47.50,-122.22,2240,8725,2014-07-17,True
6233,2024069008,"2,200,000.00",5,4.75,5990,10450,2.00,4,3,11,...,1940,2002,0,98027,47.56,-122.08,3330,14810,2014-06-19,True
6508,4217402115,"3,650,000.00",6,4.75,5480,19401,1.50,4,5,11,...,1570,1936,0,98105,47.65,-122.28,3510,15810,2015-04-21,True
7989,9362000040,"3,400,000.00",3,4.50,5230,17826,2.00,4,3,10,...,1490,2005,0,98040,47.53,-122.24,3670,17826,2014-06-23,True
8092,1924059029,"4,668,000.00",5,6.75,9640,13068,1.00,4,3,12,...,4820,1983,2009,98040,47.56,-122.21,3270,10454,2014-06-17,True
8163,1724069079,"1,452,000.00",2,3.25,2070,3128,2.00,3,3,9,...,310,1988,0,98075,47.57,-122.06,2740,3568,2015-03-19,True
8784,3343302110,"1,800,000.00",3,3.00,2790,13295,2.00,4,4,10,...,420,1933,1989,98006,47.55,-122.20,3140,11949,2015-03-06,True
10263,625059036,"2,700,000.00",5,4.00,4230,27295,2.00,4,3,8,...,1000,1949,1985,98033,47.68,-122.21,2660,27295,2014-08-13,True
11257,3761100045,"3,000,000.00",4,4.25,4850,12445,2.00,4,5,10,...,1000,1989,0,98034,47.70,-122.24,3350,12210,2014-06-18,True
11402,3426049284,"2,300,000.00",4,3.25,4110,15929,2.00,4,3,12,...,1390,2001,0,98115,47.69,-122.27,2640,15929,2014-08-19,True
11424,5119400075,"950,000.00",3,3.25,3050,18892,1.00,4,4,8,...,1400,1962,0,98198,47.39,-122.33,1170,70973,2014-06-20,True
11446,624069035,"2,750,000.00",4,4.00,4130,5575,2.00,4,4,10,...,1270,1993,0,98075,47.60,-122.08,2980,5575,2014-12-09,True
11844,2623039082,"770,000.00",3,3.50,2050,21744,2.00,4,4,9,...,300,1930,0,98166,47.45,-122.38,2300,12200,2015-02-18,True
12459,4114601580,"1,900,000.00",6,4.00,3020,13237,2.00,4,3,8,...,180,1942,1983,98144,47.59,-122.29,3680,12620,2014-07-24,True
12935,3222049044,"835,000.00",3,3.00,2790,12523,2.00,4,4,8,...,1190,1977,0,98198,47.36,-122.32,2990,11476,2014-06-12,True
13710,2923500230,"2,600,000.00",4,4.50,5270,12195,2.00,4,3,11,...,1870,1979,0,98027,47.57,-122.09,3390,9905,2014-12-16,True
13967,3126059023,"3,395,000.00",4,3.50,4730,47870,1.00,4,3,10,...,1790,1954,0,98033,47.70,-122.22,3250,49346,2015-03-03,True
14083,3625059043,"3,300,000.00",5,4.75,6200,13873,2.00,4,4,11,...,1760,1989,0,98008,47.60,-122.11,2940,13525,2014-09-04,True
14619,7936500109,"2,230,000.00",3,3.00,3620,28064,2.00,4,5,10,...,1250,1977,0,98136,47.55,-122.40,2550,34713,2014-07-25,True
14822,3623500408,"2,600,000.00",3,3.00,3410,16015,2.00,4,4,10,...,1190,1973,0,98040,47.57,-122.24,3760,16572,2015-03-30,True
15482,624069108,"3,200,000.00",4,3.25,7000,28206,1.00,4,4,12,...,3500,1991,0,98075,47.59,-122.09,4913,14663,2014-08-12,True
15668,4030100290,"1,680,000.00",5,3.50,5170,7197,3.00,4,3,11,...,1650,1998,0,98155,47.76,-122.27,3020,12880,2014-10-01,True
16817,825059178,"2,574,000.00",4,3.75,4475,20424,2.00,4,3,12,...,1816,1999,0,98033,47.66,-122.21,4340,5250,2014-09-23,True
17767,7352200450,"2,050,000.00",4,3.25,3580,19989,1.50,4,4,7,...,100,1915,1965,98125,47.71,-122.28,2410,6389,2015-01-15,True
18199,3625059152,"3,300,000.00",3,3.25,4220,41300,1.00,4,4,11,...,1760,1958,1987,98008,47.61,-122.11,3810,30401,2014-12-30,True
18455,8043700300,"2,700,000.00",4,3.25,4420,7850,2.00,4,3,11,...,1270,2001,0,98008,47.57,-122.10,2760,8525,2014-06-08,True
18556,6613000930,"2,950,000.00",4,3.25,3890,25470,2.00,3,5,10,...,860,1923,0,98105,47.66,-122.27,4140,19281,2014-09-02,True
20325,518500480,"3,000,000.00",3,3.50,4410,10756,2.00,4,3,11,...,980,2014,0,98056,47.53,-122.20,3550,5634,2014-08-11,True
20767,8043700105,"2,300,000.00",4,4.00,4360,8175,2.50,4,3,10,...,420,2007,0,98008,47.57,-122.10,2670,8525,2015-04-17,True
21201,518500460,"2,230,000.00",3,3.50,3760,5634,2.00,4,3,11,...,930,2014,0,98056,47.53,-122.20,3560,5762,2014-10-08,True
21576,9253900271,"3,567,000.00",5,4.50,4850,10584,2.00,4,3,10,...,1310,2007,0,98008,47.59,-122.11,3470,18270,2015-01-07,True

## 5.2 –í—ã–±–µ—Ä–∏—Ç–µ –¥–æ–º –∫–ª–∏–µ–Ω—Ç—É
–ö–ª–∏–µ–Ω—Ç —Ö–æ—á–µ—Ç –¥–æ–º –ª–∏–±–æ —Å –æ—á–µ–Ω—å –∫—Ä–∞—Å–∏–≤—ã–º –≤–∏–¥–æ–º –∏–∑ –æ–∫–Ω–∞, –ª–∏–±–æ —Å
–≤–∏–¥–æ–º –Ω–∞ –Ω–∞–±–µ—Ä–µ–∂–Ω—É—é, –≤ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–µ–º —Å–æ—Å—Ç–æ—è–Ω–∏–∏ –∏ –≥–æ–¥
–ø–æ—Å—Ç—Ä–æ–π–∫–∏ –Ω–µ –º–µ–Ω—å—à–µ 1980 –≥–æ–¥–∞. –í –∫–∞–∫–æ–π —Ü–µ–Ω–æ–≤–æ–º –¥–∏–∞–ø–∞–∑–æ–Ω–µ
–±—É–¥—É—Ç –¥–æ–º–∞?

In [20]:
query = hd[((hd['is_waterfront']) | (hd['view'] >= 3)) & (hd['condition']>=4) & (hd['yr_built']>=1980)]
f"–ü–æ –¥–∞–Ω–Ω–æ–º—É –∑–∞–ø—Ä–æ—Å—É –¥–æ–º–∞ –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤ –¥–∏–∞–ø–∞–∑–æ–Ω–µ —Ü–µ–Ω –æ—Ç {query['price'].min():,.2f} –¥–æ {query['price'].max():,.2f}"

'–ü–æ –¥–∞–Ω–Ω–æ–º—É –∑–∞–ø—Ä–æ—Å—É –¥–æ–º–∞ –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤ –¥–∏–∞–ø–∞–∑–æ–Ω–µ —Ü–µ–Ω –æ—Ç 420,000.00 –¥–æ 5,300,000.00'

## 5.3 –í—ã–±–µ—Ä–∏—Ç–µ –¥–æ–º –∫–ª–∏–µ–Ω—Ç—É
–ö–ª–∏–µ–Ω—Ç —Ö–æ—á–µ—Ç –¥–æ–º –±–µ–∑ –ø–æ–¥–≤–∞–ª–∞, —Å –¥–≤—É–º—è —ç—Ç–∞–∂–∞–º–∏, —Å—Ç–æ–∏–º–æ—Å—Ç—å—é
–¥–æ 150_000. –ö–∞–∫–∞—è –æ—Ü–µ–Ω–∫–∞ –ø–æ —Å–æ—Å—Ç–æ—è–Ω–∏—é —É —Ç–∞–∫–∏—Ö –¥–æ–º–æ–≤ –≤
—Å—Ä–µ–¥–Ω–µ–º?

In [21]:
query = hd[(hd['sqft_basement']==0) & (hd['floors']==2) & (hd['price']<150_000)]
f"–í —Å—Ä–µ–¥–Ω–µ–º –æ—Ü–µ–Ω–∫–∞ –ø–æ —Å–æ—Å—Ç–æ—è–Ω–∏—é —É –¥–æ–º–æ–≤ –∏–∑ –∑–∞–ø—Ä–æ—Å–∞ —Ä–∞–≤–Ω–∞ {query['condition'].mean():.0f}"

'–í —Å—Ä–µ–¥–Ω–µ–º –æ—Ü–µ–Ω–∫–∞ –ø–æ —Å–æ—Å—Ç–æ—è–Ω–∏—é —É –¥–æ–º–æ–≤ –∏–∑ –∑–∞–ø—Ä–æ—Å–∞ —Ä–∞–≤–Ω–∞ 3'